@import 'base/_variables';
@import 'partials/_nav';
@import 'partials/_home';
@import 'partials/_about';
@import 'partials/_services';
@import 'partials/_projects';
@import 'partials/_contact';
@import 'partials/_footer';


body {

  font-family: $regText;
  z-index: 1;
}

p {

  font-size: 0.9em;
}
h5 {

  font-family: $boldHeading;
}


footer {

  background-color: $secondary;
  padding: 20px 0;

  .widget-contact {

    text-align: center;
  }
}

//Testing

.test {

  background-color: black;
  height: 300px;
  width: 300px;
}

textarea { resize: vertical; }

@media screen and (min-width: 992px) {

  h2 {

    font-size: 2.5em;
  }

}
