//About

#about.home-section {

  padding-bottom: 0px;
}

#aboutDesc p {

  font-family: $thinText;
  color: $secondary;
  font-size: 1.25em;
}

.inner {

  h5 {

    font-family: $heading;
    color: $secondary;
    font-size: 1.5em;
    letter-spacing: 0px;

  }

  h6 {

    margin-bottom: 0px;
    font-family: $heading;


  }
  ul {
    font-family: $subheading;
    list-style: none;
    text-align: center;
    margin-left: 5px;

    li {

      text-align: left;
      margin-left: 20px;
    }


  }

  p {

    text-align: left;
  }

}

.boxed-grey {

  border: 5px solid $primary;
}

@media screen and (min-width: 1280px) {

  #aboutDesc p {

    font-size: 1.5em;
  }
}
