//Projects
.projectPic {

  height: 120px;
  width: 200px;
  background-color: $secondary;
  border: 2px solid $primary;

}

#seeMore a {

  font-family: $heading;

  font-size: 0.85em;
  color: $secondary;
}

#seeMore  {

  margin-top: 30px;

}

#seeMore:hover, #seeMore:active, #seeMore:focus {

  opacity: 0.8;
}

@media screen and (max-width:413px) {

  #seeMore a {

    font-family: $heading;

    font-size: 0.65em;
    color: $secondary;
  }

}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: grey;
    text-align:center;
    z-index: 400;


}

.lightBut {

  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  margin-top: 100px;
}

//slideshow styles
#slideshow { position: relative; width: 100%; height:100%; margin: 0 auto; padding: 10px; background-color: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.4); }
#slideshow ul > li { position: absolute; top: 30px; left: 20px; right: 20px; bottom: 10px; list-style: none; }
 .prev, .next { position: absolute; top: 30%; background: rgba(100, 100, 100, .5); padding: .25em .5em; color: #fff;  }
.next { right: 10px; }
.prev { left: 10px; }
#paraList {

  position: absolute;
  top: 58%;
  right: 5%;
  left: 5%;
}

#slideshow ul {

  margin-right: 10%;
}

.paraImage {

  display:none;
}

.navGal {

  display: block;
}

#imageSet li{

  transition: opacity 0.6s ease;
}

#imageSet li:hover {

  opacity: 0.6;

}


#lightbox p.close {

  color: black;
  position: absolute;
  top: 70px;
  z-index: 400;
  right: 1px;
  left: 1px;
}

#lightbox p {
    text-align: center;
    color:black;
    font-size: 0.85em;
}

#lightbox img {
    max-width:940px;
    margin-top: 20%;
}


#content { margin-top: 0%; }

@media screen and (min-width: 600px) {

  #slideshow ul {

    margin-right: 5%;
  }

}

@media screen and (min-width: 321px) and (max-width:599px){

  #paraList {


    top: 50%;


  }



}

@media screen and (min-width: 600px) and (max-width: 767px){

  #paraList {


    top: 63%;
  }




}

@media screen and (min-width: 600px){



  #lightbox p {
      text-align: center;
      color:black;
      font-size: 0.95em;
  }


}

@media screen and (min-width: 768px) and (max-width: 1023px){

  #paraList {


    top: 65%;
  }


}

@media screen and (min-width: 1024px) and (max-width: 1199px) {

  #paraList {


    top: 87%;
  }


}

@media screen and (min-width: 1200px) {

  #paraList {


    top: 80%;
  }


}

@media screen and (min-width: 414px) and (max-width: 599px){

  #lightbox p.close {
    top: 80px;

}
}

@media screen and (min-width: 600px) and (max-width: 767px){

  #lightbox p.close {
    top: 100px;

}
}

@media screen and (min-width: 768px){

  #lightbox p.close {
    top: 110px;

}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .prev, .next {
    top:35%;

}
}

@media screen and (min-width: 1024px) and (max-width: 1199px){

  .prev, .next {
    top:55%;

}

  #lightbox img {

    max-width: 600px;
    margin-top: 7%;
  }
}

@media screen and (min-width: 1200px){

  .prev, .next {
    top:45%;

}

  #lightbox img {

    max-width: 700px;
    margin-top: 10%;
  }
}
